<!DOCTYPE html>
<html>
  <style>
  body, div, nav, p, section, h1{
                margin:0px;
            }
    #quiz-1{
      width:100%;
      height:10vh;
      background-color:black;
      text-align:center;
      }
       a{
          color:white;
          font-size:30px;
        }
  </style>
<body>
  <div id = "quiz-1">
            <nav id = "navi">
                <a href = "/index">shtëpi</a>
            </nav>
        </div>
  
<h1>Enter your Birthday.</h1>

<form method= "POST" action ="/birthday_results">
    First name:<br>
    <input type="text" name="firstname" value="Enter"><br>
    Last name:<br>
    <input type="text" name="lastname" value="Name"><br>
    Birthday:<br>
    <input type="text" name="enterbd" value = "Birthday"<br>
    <input type="submit" value="Submit"/>
</form> 


</body>
</html>