<!DOCTYPE html>
<html>
<body>
<h1>Answer the questions below to find out what type of drywall you are</h1>
<h2>What's your biggest priority in life right now?</h2>

<form method= "POST" action ="/dry_results">
  <input class = "A" type="radio" name="answer1" value= 1 checked> Getting a proper education<br>
  <input class = "B" type="radio" name="answer1" value="2"> Making my family proud<br>
  <input class = "C" type="radio" name="answer1" value="3"> This drywall quiz<br>



<h2>What's your favorite color</h2>


  <input type="radio" name="answer2" value="3" checked> White-ish Grey<br>
  <input type="radio" name="answer2" value="2"> Light Blue<br>
  <input type="radio" name="answer2" value="1"> Wenge<br>
  
  
  
<h2>How well can you work in a group?</h2>
  
  <input type="radio" name ="answer3" value ="1" checked> I work well with a majority of people<br>
  <input type="radio" name ="answer3" value ="2"> I need to work by myself<br>
  <input type="radio" name ="answer3" value ="3"> My employees are my brother hood<br>
  
  
<h2>What is 27 divided by 6?</h2>

  <input type="radio" name="answer4" value="2" checked> 162 <br>
  <input type="radio" name="answer4" value="1"> 4.5<br>
  <input type="radio" name="answer4" value="3"> Wenge again<br>
  
  
  
  <h2>How do you see yourself?</h2>
  
  <input type="radio" name="answer5" value="1" checked> Beautiful <br>
  <input type="radio" name="answer5" value="2"> Loved <br>
  <input type="radio" name="answer5" value="3">A thin sheet of calcium sulfate dihydrate<br>
  
  
  
  <h2>Do you believe in being coerced into answering an open ended question in a limited way that provides little nuance to your responce, thus detracting from the over all credibility of the answer?</h2>
  
  <input type="radio" name="answer6" value="2" checked> Of course, what a wonderful question <br>
  <input type="radio" name="answer6" value="1"> There's nothing I love more <br>
  <input type="radio" name="answer6" value="3"> Once again, Wenge <br>
  
  
  <input type="submit" value="Submit"/>
</form> 


</body>
</html>