<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->
<!--<h1>Answer the questions below to find out what type of drywall you are</h1>-->
<!--<h2>What's your biggest priority in life right now?</h2>-->

<!--<form>-->
<!--  <input type="radio" name="answer1" value="1" checked> Getting a proper education<br>-->
<!--  <input type="radio" name="answer1" value="2"> Making my family proud<br>-->
<!--  <input type="radio" name="answer1" value="3"> This drywall quiz<br>-->
<!--  <input type="submit" value="Submit"/>-->
<!--</form> -->

<!--<h2>What's your favorite color</h2>-->

<!--<form>-->
<!--  <input type="radio" name="answer2" value="3" checked> White-ish Grey<br>-->
<!--  <input type="radio" name="answer2" value="2"> Light Blue<br>-->
<!--  <input type="radio" name="answer2" value="1"> Wenge<br>-->
<!--  <input type="submit" value="Submit"/>-->
<!--</form> -->


<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<body>
<h1>Answer the questions below to find out what type of drywall you are</h1>
<h2>What's your biggest priority in life right now?</h2>

<form>
  <input type="radio" name="answer1" value="1" checked> Getting a proper education<br>
  <input type="radio" name="answer1" value="2"> Making my family proud<br>
  <input type="radio" name="answer1" value="3"> This drywall quiz<br>


<h2>What's your favorite color</h2>


  <input type="radio" name="answer2" value="3" checked> White-ish Grey<br>
  <input type="radio" name="answer2" value="2"> Light Blue<br>
  <input type="radio" name="answer2" value="1"> Wenge<br>
  <input type="submit" value="Submit"/>
</form> 


</body>
</html>