<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css?family=Literata|Pacifico|Roboto+Condensed|Satisfy&display=swap" rel="stylesheet">
  <style>
  body, div, nav, p, section, h1{
                margin:0px;
            }
  h1{
    text-align:center;
    font-size:50px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  #quiz-1{
      width:100%;
      height:10vh;
      background-color:black;
      text-align:center;
      }
       a{
          color:white;
          font-size:30px;
        }
        #shrug{
          font-size:100px;
          font-family: 'Roboto Condensed', sans-serif;
          text-align:center;
        }
  </style>
<body>
  <div id = "quiz-1">
            <nav id = "navi">
                <a href = "/index">Shtëpi</a>
            </nav>
        </div>
  
<h1>There's nothing here find something better to do :/</h1>

<p id = "shrug">¯\_(ツ)_/¯</p>

</body>
</html>